{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<address>
    <strong>Адрес: </strong>秋葉原 / Akihabara<br />
    <strong><abbr title="Телефон">Тел.:</abbr></strong>
    +7-900 000 00 00
</address>

<address>
    <strong>Канал YouTube:</strong> <a href="https://www.youtube.com/watch?v=0u5p3HlGr-c" target="_blank">Шамов Дмитрий</a><br />
    <strong>E-mail:</strong>   <a href="mailto:Support@example.com">fubar@example.com</a><br />
</address>

{% endblock %}
